@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Esteban');

:root {
    --bright-teal: #00DDDA;
    --bright-blue: #08BCCF;
    --blue: #3A9FC6;
    --purple: #6677BB;
    --periwinkle: #538BC0;
    --dark: #001212;
    --grey: #DADDDD;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

