@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Esteban');

:root {
    --bright-teal: #00DDDA;
    --bright-blue: #08BCCF;
    --blue: #3A9FC6;
    --purple: #6677BB;
    --periwinkle: #538BC0;
    --dark: #001212;
    --grey: #DADDDD;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 1024px;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 2.833em;
}

h2 {
    font-family: 'Montserrat', serif;
    font-size: 2.618em;
}

h3 {
    font-family: 'Montserrat', serif;
    font-size: 2.189em;
}

h4 {
    font-family: 'Montserrat', serif;
    font-size: 1.751em;
}

h5 {
    font-family: 'Montserrat', serif;
    font-size: 1.618em;
}

h6 {
    font-family: 'Montserrat', serif;
    font-size: 1.353em;
}

.caption {
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.color {
    margin: 10px;
}

.square {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
}

.info {
    margin: 0px 10px;

}

.bright-teal {
    background: var(--bright-teal);
}

.bright-blue {
    background: var(--bright-blue);
}

.blue {
    background: var(--blue);
}

.purple {
    background: var(--purple);
}

.periwinkle {
    background: var(--periwinkle);
}

.dark {
    background: var(--dark);
}

.grey {
    background: var(--grey);
}

.white {
    background: var(--white);
}

